border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

body,html
	font 18px Helvetica, Arial, sans-serif
	margin 0
	padding 0

a.button
	border-radius(5px)

ul
	color #cae
	>li 
		margin 2px
  

